$font-primary: "Montserrat", sans-serif;
$font-secundary: "Work sans", sans-serif;
$color-primary: #62cdff;
$color-secundary: #97deff;
$color-white: #fff;
$color-black: #000;
$color-font: #333;
$radius-button: 5px;

@mixin flex($justify, $align, $direction, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin grid($cantColumn, $tamColumn, $gap) {
  display: grid;
  grid-template-columns: repeat($cantColumn, $tamColumn);
  gap: $gap;
}

@mixin responsive($type) {
  @if $type == "Mobile" {
    @media (min-width: 320px) {
      @content;
    }
  }

  @if $type == "Tablet" {
    @media (min-width: 481px) {
      @content;
    }
  }

  @if $type == "Laptops" {
    @media (min-width: 769px) {
      @content;
    }
  }

  @if $type == "Desktop" {
    @media (min-width: 1025px) {
      @content;
    }
  }

  @if $type == "Tv" {
    @media (min-width: 1201px) {
      @content;
    }
  }
}

@mixin typeFont($font, $size) {
  @if $font == $font-primary {
    font-size: $size;
    font-weight: 700;
    line-height: $size + 5;
    font-family: $font-primary;
  } @else if $font == $font-secundary {
    font-size: 14px;
    line-height: $size + 4;
    font-family: $font-secundary;
  }
}
