/* Inicio estilos barra de scroll */
#s4-workspace::-webkit-scrollbar {
  width: 6px;
  background: #e6effd;
}

#s4-workspace::-webkit-scrollbar-thumb {
  background: #004884;
  border-radius: 10px;
}

@media (max-width: 600px) {
  #s4-workspace::-webkit-scrollbar {
    width: 0px;
  }
}
/* Fin estilos barra de scroll */
