/* Inicio estilos boton subir arriba  */

html,#s4-workspace{
  scroll-behavior: smooth;
}

.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #3366cc;
  box-shadow: 4px 4px 6px #00000029;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 300ms;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  z-index: 99;
}

.scrollTop__div {
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  min-width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  margin-left: 50px;
}

.scrollTop__icon {
  color: #3366cc;
  font-size: 37px;
  font-weight: 700;
  text-align: center;
}

.scrollTop__p {
  opacity: 0;
  transition: all 400ms;
  width: 30px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 0;
}

.scrollTop:hover {
  width: 118px;
  border-radius: 27px 10px 10px 27px;
  background: #004884 0% 0% no-repeat padding-box;
}

.scrollTop:hover .scrollTop__div {
  margin-left: 0px;
  margin-right: 0px;
}

.scrollTop:hover .scrollTop__p {
  opacity: 1;
  color: #fff;
}

.scrollTop:hover .scrollTop__icon{
  color: #004884;
}

.scrollTop:focus{
  border: 1px solid #000;
}

/* Fin estilos boton subir arriba  */