<nav class="floatButton">
  <div class="floatButton__button">
    <span class="floatButton__hamburger floatButton__hamburger--1"></span>
    <span class="floatButton__hamburger floatButton__hamburger--2"></span>
    <span class="floatButton__tooltip floatButton__tooltip--mod">Herramientas</span>
  </div>

  <div class="floatButton__options"></div>
</nav>

<script src="/main.js" type="module"></script>
