/* Inicio estilos de boton de herramientas */

.floatButton {
  width: 40px;
  height: 40px;
  background-color: #31539e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease;
  position: fixed;
  bottom: 40px;
  left: 40px;
  box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

.floatButton__icon {
  color: #fff;
  font-size: 12px;
}

.floatButton__options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 155%;
  gap: 12px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.5s;
}

.floatButton__item {
  width: 40px;
  height: 40px;
  background-color: #31539e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  opacity: 0;
}

.floatButton__button {
  width: 100%;
  height: 100%;
}

.floatButton__hamburger {
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10.5px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  border-radius: 4px;
  pointer-events: none;
}

.floatButton__hamburger--1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, 0, 0) rotate(90deg) scale(0.8, 0.8);
}
.floatButton__hamburger--2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0) scale(0.8, 0.8);
}

.floatButton--active .floatButton__button .floatButton__hamburger--1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.floatButton--active .floatButton__button .floatButton__hamburger--2 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.floatButton--active .floatButton__button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.floatButton--active .floatButton__options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
.floatButton__tooltip {
  background: #fff;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 7px;
  left: 49px;
  padding: 5px 7px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width: max-content;
  font-family: "WorkSans-Regular", sans-serif;
}

.floatButton__tooltip:before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: 50%;
  left: -7px;
  transform: rotate(90deg);
}

.floatButton__item:hover .floatButton__tooltip,
.floatButton__button:hover .floatButton__tooltip--mod {
  visibility: visible;
  opacity: 1;
}

.floatButton--active .floatButton__button:hover .floatButton__tooltip--mod {
  visibility: hidden;
  opacity: 0;
}

.floatButton__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.floatButton__img--fit {
  width: 80%;
  height: 80%;
  object-fit: fill;
}

/* Fin estilos de boton de herramientas */
