@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap");

.hidden {
  display: none;
}

.paginationItems {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
  margin: 0 auto;
}

.paginationItems__button {
  text-decoration: underline;
  border: none;
  outline: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  background: none;
  padding: 0 10px;
  color: #3162c4;
  cursor: pointer;
  font-size: 14px;
}

.paginationItems__number {
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  height: 31px;
  width: 39px;
  min-width: 39px;
  padding: 0;
  border-radius: 0.2rem;
  font-family: "Work Sans", sans-serif;
  color: #3162c4;
  font-weight: 600;
  transition: 0.5s;
}

.paginationItems__number:hover {
  background: #e6effd;
  color: #3162c4;
}

.paginationItems__button.disabled {
  color: #bababa;
}

.paginationItems__number.active {
  color: #fff;
  background: #3162c4;
}
