@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Work+Sans:400,700&display=swap);
.acordeon-web {
		width: clamp(288px, 100%, 1280px);
		padding: 20px 0;
		margin: 0 auto;
		box-sizing: border-box;
}
.acordeon-web__ul {
		width: 100%;
		margin-top: 20px;
		padding: 0;
		margin-bottom: 0;
		border-radius: 2px;
		overflow: hidden;
		box-sizing: border-box;
}
.acordeon-web__title {
		font-family: "Montserrat", sans-serif;
}
.acordeon-web__content {
		max-height: 0;
		padding: 0;
		margin-bottom: 0;
		list-style: none;
		background: #e2e2e2;
		overflow: hidden;
		transition: all 0.5s ease-in-out;
		box-sizing: border-box;
}
.acordeon-web__content--active {
		display: block;
		max-height: 200px;
}
.acordeon-web__ul {
		list-style: none;
}
.acordeon-web__link {
		color: #008e4c;
		text-decoration: none;
		font-size: 18px;
}
.acordeon-web__link:hover {
		color: #000;
		text-decoration: underline;
}
.acordeon-web__item {
		font-family: "Work sans", sans-serif;
}
.acordeon-web__item--parent {
		position: relative;
		display: block;
		width: 100%;
		margin-top: 2px;
		clear: both;
		background: #f3f3f3;
		transition: 0.5s;
		box-sizing: border-box;
}
.acordeon-web__item--parent::after {
		content: "+";
		position: absolute;
		top: 20px;
		right: 10px;
		font-size: 21px;
		color: #008e4c;
}
.acordeon-web__item--parent:hover {
		background-color: #008e4c;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.acordeon-web__item--parent:hover::after {
		color: #fff;
}
.acordeon-web__item--parent:hover > a {
		color: #fff;
}
.acordeon-web__item--parent--active {
		background-color: #008e4c;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.acordeon-web__item--parent--active::after {
		content: "-";
		color: #fff;
}
.acordeon-web__item--parent--active > a.acordeon-web__link {
		color: #fff;
}
.acordeon-web__item--parent a {
		position: relative;
		display: block;
		padding: 20px;
		font-size: 18px;
		font-weight: 300;
		color: #008e4c;
		text-decoration: none;
		box-sizing: border-box;
}