<!-- Inicio Footer -->
<footer class="footer">
  <div class="footer__content">
    <div class="footer__container">
      <div class="footer__contentLeft">
        <div class="footer__info">
          <h3 class="footer__municipio">Alcaldía Municipal de ...., ....</h3>
          <h4 class="footer__h4">Sede principal</h4>
          <p class="footer__p">Dirección: .....</p>
          <p class="footer__p">Departamento: ...., Municipal: .....</p>
          <p class="footer__p">Código Postal: .....</p>
          <p class="footer__p">Horario de atención:.....</p>
          <p class="footer__p">Telefono Conmutador: .....</p>
          <p class="footer__p">Fax: .....</p>
          <p class="footer__p">Línea de servicio a la ciudadanía: .....</p>
          <p class="footer__p">Línea Anticorrupción: .....</p>
          <p class="footer__p">Correo Institucional: <a href="mailto:....." class="footer__a">.....</a>
          </p>
          <p class="footer__p">Correo Notificaciones
            Judiciales: <a href="mailto:....." class="footer__a">.....​​​</a>
          </p>

        </div>
        <div class="footer__divThree">
          <p class="footer__p">
            Este portal cumple con el nivel de Accesibilidad Web A según
            los requisitos de conformidad de las WCAG 2.0 y NTC 5854.
            Para una correcta visualización y navegación en el sitio, se
            recomienda usar las últimas versiones de los siguientes navegadores:
            Internet Explorer, Mozilla FireFox, Google Chrome.<br> Si su equipo
            no cuenta con esta versión, por favor realice la actualización.
          </p>
        </div>

        <div class="footer__moreInfo">
          <p class="footer__p">Última Actualización:
            <lastupdated:lastupdated runat="server" description="My Visual Web Part"
              importerrormessage="No se puede importar este elemento web." title="WPReportAnalytics - LastUpdated"
              __markuptype="vsattributemarkup" __webpartid="{e0ace38c-41df-4215-a159-375fc6d5752f}" webpart="true"
              __designer:isclosed="false" id="g_e0ace38c_41df_4215_a159_375fc6d5752f">
            </lastupdated:lastupdated>
          </p>
          <p class="footer__p">
            Número de Visitas:<iframe src="/ContadorDeVisitas.aspx" width="70" height="18" marginheight="0"
              marginwidth="0" scrolling="No" frameborder="0" title="contador-visitas" loading="lazy"></iframe>
          </p>
        </div>

        <div class="footer__enlaces">
          <a href="/Paginas/Politicas-de-Privacidad-y-Condiciones-de-Uso.aspx" class="footer__a">Políticas
            de Privacidad y Condiciones de Uso</a>
          <a href="/Paginas/Politicas-Editoriales-y-de-Actualizacion.aspx" class="footer__a">Políticas
            Editoriales y de Actualización.</a>
          <a href="/NuestraAlcaldia/Paginas/Mapa-de-Sitio.aspx" class="footer__a">Mapa del
            Sitio.</a>
          <a href="/Paginas/Glosario.aspx" class="footer__a">Glosario</a>
          <a href="/Paginas/Preguntas-Frecuentes.aspx" class="footer__a">Preguntas Frecuentes</a>
          <a href="/Paginas/Tutorial-de-B%C3%BAsqueda.aspx" class="footer__a">Tutorial de Búsqueda</a>
          <a href="/Paginas/Tutorial-de-Tramites-y-Servicios.aspx" class="footer__a">Tutorial de Trámites y
            Servicios</a>
          <a href="http://www.alcaldianeiva.gov.co/Gestion/Paginas/Atenci%C3%B3n-al-Ciudadano.aspx"
            class="footer__a"><b>P.Q.R.D.</b></a>
          <a href="/_layouts/15/Authenticate.aspx" class="footer__a"><b>Administrar el sitio</b></a>
        </div>
      </div>
      <div class="footer__contentRight">
        <div class="footer__logo">
          <img src="/...." title="....." alt=".....">
        </div>
        <div class="footer__social">
          <div class="footer__red">
            <div class="footer__icon">
              <i class="fa fa-facebook footer__i"></i>
            </div>
            <a href="#" target="_blank" class="footer__a footer__a--red">@Facebook</a>
          </div>
          <div class="footer__red">
            <div class="footer__icon">
              <i class="fa fa-youtube footer__i"></i>
            </div>
            <a href="#" target="_blank" class="footer__a footer__a--red">@Youtube</a>
          </div>
          <div class="footer__red">
            <div class="footer__icon">
              <i class="fa fa-twitter footer__i"></i>
            </div>
            <a href="#" target="_blank" class="footer__a footer__a--red">@Twitter</a>
          </div>
          <div class="footer__red">
            <div class="footer__icon">
              <i class="fa fa-instagram footer__i"></i>
            </div>
            <a href="#" target="_blank" class="footer__a footer__a--red">@Instagram</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__empresa">
      <div class="footer__firma">Asesorado, diseñado y desarrollado por:<a href="http://www.1cero1.com/"
          target="_blank"> <img id="idfirma" src="..." width="10%" height="auto" alt="Logo"></a> © Copyright
        2022 101 S.A.S.</div>
    </div>
    <div class="footer__gov">
      <div class="footer__inferior">
        <div class="footer__icons">
          <a href="https://www.colombia.co/" target="_blank"><img src="/SiteAssets/V2/images/logo-footer-co.svg"
              alt="logo co" class="logo-footer-co" style="width: 45px;"></a>
              <div class="footer__sep"></div>
          <a href="https://www.gov.co/" target="_blank"><img alt="logo gov" class="logo-footer-gov"
              style="width: 150px;margin-left: 10px;" src="/SiteAssets/V2/images/logo-gov.svg"></a>
        </div>
      </div>
    </div>
</footer>
<!-- Fin footer -->