/* Inicio estilos footer */
.footer {
  width: 100vw;
  background-color: #e3effd;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  height: 900px;
}

.footer__gov {
  width: 100vw;
  height: 126px;
  background: #0c5eca;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer__inferior {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

.footer__empresa {
  display: flex;
  justify-content: flex-end;
  width: 1140px;
}

.footer__firma {
  font-size: 14px;
  color: #fff;
  text-align: end;
  padding-bottom: 20px;
}

.footer__container {
  width: 1140px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  padding: 50px;
  border: 2px solid #e3effd;
  /* top: -70px; */
  position: relative;
}

.footer__contentLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 77%;
  text-align: justify;
}

.footer__contentRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 55%;
  gap: 180px;
}

.footer__enlaces {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.8rem;
  flex-direction: column;
}

.footer__enlaces a:not(:first-child) {
  margin-top: 5px;
}

.footer__municipio {
  font-size: 20px;
  color: #16456e;
  font-weight: 700;
  margin: 0 !important;
}

.footer__h4 {
  color: #16456e;
  font-weight: 500;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.footer__p {
  font-size: 14px;
  margin-bottom: 0.3rem !important;
}

#ContadorVis {
  color: #000 !important;
}

#ctl00_g_6c6e9a7f_6800_4603_96b1_8181f5903866 {
  font-size: 14px;
  margin: 0 5px 10px 5px;
}

.footer__sep{
  height: 66px;
  width: 1.5px;
  background: #fff;
}

.footer__icons{
  display: flex;
  column-gap: 10px;
}

.footer__moreInfo {
  display: flex;
  align-items: center;
}

.footer__social {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo img {
  width: 10rem;
}

.footer__a {
  color: black !important;
  transition: 0.4s;
}

.logo-footer-gov {
  width: 210px !important;
}

.logo-footer-co {
  height: 69px;
  width: 80px !important;
}

.footer__red {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.footer__icon {
  background: #16456e;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.footer__i {
  color: #fff;
}

.footer__a--red {
  color: #16456e !important;
  transition: 0.4s;
}

.footer__a--red:hover {
  text-decoration: underline;
  transform: translateX(15px);
  font-weight: 700;
}

.footer__enlaces > .footer__a {
  text-decoration: underline;
  font-weight: 700;
}

.footer__enlaces > .footer__a:hover {
  background-color: #16456e;
  color: #fff !important;
  font-weight: 700;
  transform: translateX(15px);
}

.footer__divThree {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer__container {
    width: 90vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 14px;
  }

  .footer__content{
    height: max-content;
  }

  .footer__contentLeft {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer__contentRight {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 3rem;
    margin-top: 3rem;
  }

  .footer__gov {
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .footer__inferior {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .footer__empresa {
    width: 100vw;
    justify-content: center;
  }

  .footer__firma {
    text-align: center;
  }

  .footer__enlaces {
    flex-direction: column;
  }

  .footer__info {
    text-align: start;
  }
}

/* Fin estilos footer */
