@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Work+Sans:400,700&display=swap);

$font-primary: "Montserrat", sans-serif;
$font-secundary: "Work sans", sans-serif;
$color-primary: #276fbf;
$color-secundary: #183059;
$color-terciary: #279af1;
