@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Work+Sans:400,700&display=swap);

$font-primary: "Montserrat", sans-serif;
$font-secundary: "Work sans", sans-serif;
$color-primary: #f3f3f3;
$color-secundary: #e2e2e2;
$color-terciary: #008e4c;
