@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Work+Sans:400,700&display=swap);

$font-primary: "Montserrat", sans-serif;
$font-secundary: "Work sans", sans-serif;
$color-primary: #1d267d;
$color-secundary: #1d267d;
$color-white: #fff;
$color-black: #000;
$color-font: #9fa4b4;
$color-bg: #f7f7f7;
