/* Inicio Iconos de carrusel */

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 41px;
  height: 41px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  text-align: center;
  top: 29%;
}

.nbs-flexisel-nav-left:hover,
.nbs-flexisel-nav-right:hover {
  color: #0072c6;
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
}

.nbs-flexisel-nav-left::before {
  content: "🡨";
}

.nbs-flexisel-nav-right::before {
  content: "🡪";
}

/* Fin Iconos de carrusel */

/* Inicio tabs redes sociales */

#redes ul .active a {
  background-color: #ff8000;
  color: #fff;
  border: #ff8000;
}

/* Fin tabs redes sociales */

/* Inicio botones */

button {
  border-radius: 2rem !important;
  transition: 0.3s;
  font-size: 15px;
}

#encuesta .btn-primary, #testimonios .btn-primary{
  width: 100%;
}

/* Fin botones */
