<div id="google_translate_element"></div>

<div class="translateElement">
  <div class="translateElement__select">
    <img
      src="/SiteAssets/V2/images/iconGlobe.svg"
      alt="icono de traductor"
      class="translateElement__img"
    />
    <span>Idioma</span>
    <img
      src="/SiteAssets/V2/images/down.svg"
      alt="icono de traductor"
      class="translateElement__img translateElement__img--width"
    />
  </div>
  <div class="translateElement__options">
    <p class="translateElement__p">Cambiar idioma del sitio:</p>
    <ul class="translateElement__ul">
      <li class="translateElement__li" id="español">
        <a href="javascript:;" data-lang="español" class="translateElement__a" title="español"></a>
      </li>
      <li class="translateElement__li" id="inglés">
        <a href="javascript:;" data-lang="inglés" class="translateElement__a" title="inglés"></a>
      </li>
      <li class="translateElement__li" id="portugués">
        <a href="javascript:;" data-lang="portugués" class="translateElement__a" title="portugués"></a>
      </li>
      <li class="translateElement__li" id="japonés">
        <a href="javascript:;" data-lang="japonés" class="translateElement__a" title="japonés"></a>
      </li>
      <li class="translateElement__li" id="italiano">
        <a href="javascript:;" data-lang="italiano" class="translateElement__a" title="italiano"></a>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {
        pageLanguage: "es",
        includedLanguages: "en,es,pt,ja,it",
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        autoDisplay: false,
      },
      "google_translate_element"
    );
  }
</script>

<script
  type="text/javascript"
  src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
  defer
></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/main.js"></script>
