/* Inicio estilos traductor */

#google_translate_element {
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

.translateElement {
  position: relative;
  display: block;
  width: fit-content;
  z-index: 9;
  margin: 10px 60px 0 auto;
}

.translateElement__select {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  position: relative;
  font-size: 15px;
}

.translateElement__select span{
  pointer-events: none;
}

.translateElement__img {
  width: 17px;
  display: inline;
  pointer-events: none;
}

.translateElement__img--width {
  width: 14px;
}

.translateElement__options {
  position: absolute;
  transition: 0.5s;
  width: 200px;
  background-color: white;
  box-shadow: 3px 21px 80px -21px rgb(0, 0 ,0);
  border-radius: 2px;
  height: 66px;
  padding: 10px 20px;
  will-change: transform;
  bottom: 0%;
  right: 0;
  display: none;
  padding: 10px 20px;
  color: #212529;
  text-align: left;
  transform: translateY(75px);
}

.translateElement__p {
  margin: 0;
  font-size: 14px;
  margin-bottom: 3px;
}

.translateElement__options--active {
  display: flex;
  flex-direction: column;
}

.translateElement__ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.translateElement__a {
  width: 18px !important;
  height: 14px !important;
  padding: 1px 0;
  display: inline-block;
}

.translateElement__a[data-lang="español"] {
  background: url("/SiteAssets/V2/images/flags18.png") -2px -323px no-repeat;
}

.translateElement__a[data-lang="inglés"] {
  background: url("/SiteAssets/V2/images/flags18.png") -118px -352px no-repeat;
}

.translateElement__a[data-lang="portugués"] {
  background: url("/SiteAssets/V2/images/flags18.png") -118px -265px no-repeat;
}

.translateElement__a[data-lang="japonés"] {
  background: url("/SiteAssets/V2/images/flags18.png") -89px -178px no-repeat;
}

.translateElement__a[data-lang="italiano"] {
  background: url("/SiteAssets/V2/images/flags18.png") -60px -178px no-repeat;
}

/* Fin estilos traductor */