/* Inicio control de sliders */
.carrouselButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  transition: 0.4s;
}

.carrouselButton:hover {
  transform: translateX(5px);
}

.carusel__span {
  margin: 0 0.4rem;
}

#pauseButton {
  background-color: #d71c25;
  color: white;
}
#playButton {
  background-color: #008337;
  color: white;
}
/* Fin control de sliders */