@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

.searchDocuments {
  position: relative;
  width: 400px;
  height: max-content;
  margin-top: 12px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

.searchDocuments__input {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 378px;
  height: 40px;
  border: 1px solid #c9c9c9;
  padding: 0 16px;
  position: relative;
  font-size: 12px;
  color: #4b4b4b;
  transition: 0.5s;
}

.searchDocuments__input::placeholder {
  color: #bababa;
}

.searchDocuments__label {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.searchDocuments__button {
  position: absolute;
  right: 30px;
  bottom: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #c0272d;
  color: #fff;
  cursor: pointer;
}

.searchDocuments__input:hover {
  box-shadow: 2px 2px 2px 2px #e6effd;
  border-color: #36c;
}

.searchResults {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  width: 100%;
  padding: 20px;
}

.searchResults--active {
  display: flex;
}

.searchResults__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 60%;
}

.searchResults__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e4e4;
  border-radius: 7px;
  padding: 10px;
  width: 250px;
  height: max-content;
  row-gap: 20px;
}

.searchResults__title {
  display: flex;
  width: 100%;
  column-gap: 20px;
  align-items: center;
  text-align: start;
  margin: 0 !important;
}

.searchResults__h3 {
  margin: 0 !important;
}

.searchResults__a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.searchResults__img {
  width: 25px;
}

.searchResults__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  row-gap: 5px;
}

.searchResults__p {
  font-size: 14px;
  color: #000;
}

.searchResults__span {
  font-weight: 600;
  margin: 0 8px 4px 0;
  display: block;
}

.searchResults__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}

.searchResults__button {
  padding: 4px 10px;
  background-color: #c0272d;
  color: #fff;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}

.searchResults__button:visited {
  color: #fff !important;
}

.searchResults__button:hover {
  background-color: #8c161a;
  color: #fff;
}

/* Modal */

.searchResults__modalContainer {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.8s;
}

.searchResults__modalContainer--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.searchResults__modalContent {
  width: 500px;
  height: 244px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 7px;
  transition: 0.6s;
  row-gap: 5px;
  transform: translateY(-200%);
}

.searchResults__modalContainer--active .searchResults__modalContent {
  transform: translateY(0);
}

.searchResults__modal--active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.searchResults__h4 {
  color: #c0272d !important;
  font-weight: 700;
  font-size: 22px;
}

.searchResults__text {
  text-align: center;
  font-size: 14px;
}

.searchResults__button--close {
  width: 40%;
  height: 30px;
  text-align: center;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Loader */

.searchLoader {
  width: 1140px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 20px;
}

.searchLoader--active {
  display: flex;
}

.searchLoader__loader {
  width: 48px;
  height: 48px;
  border: 3px solid #e6effd;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotationLoader 1s linear infinite;
}
.searchLoader__loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #3366cc transparent;
}

.searchLoader__p {
  text-align: center;
}

@keyframes rotationLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .searchDocuments {
    width: 100%;
  }

  .searchDocuments__input {
    width: 90%;
  }

  .searchResults__container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .searchLoader {
    width: 100%;
  }
}
