/************************************
	 ESTILOS CDN MIN .GOV
************************************/

#s4-workspace {
  scroll-behavior: smooth;
}

/*contenedor*/
.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px #000;
  z-index: 110;
  transition: 0.3s ease-out;
  border: 1px solid #f2f2f2;
  outline: none;
  width: 40px;
  min-width: 20px;
  height: 40px;
  background: #f2f2f2;
}

.scroll-to-top:hover {
  border: 1px solid #0a7cc0;
  width: 160px;
  border-radius: 12px;
}

/*contenedor al darle click*/
.scroll-to-top:active {
  background: #0a7cc0;
}

.scroll-to-top:active > button {
  background: #0a7cc0;
}

.scroll-to-top:active span.fa.fa-angle-up.btn-svg-up-hover.btn-top-up {
  color: #0a7cc0;
  background: #fff;
}

.scroll-to-top:active span.label-button-star-up.btn-text-top-up {
  color: #fff;
}

/*contenedor boton interno*/

.scroll-to-top button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #f2f2f2;
  cursor: pointer;
  min-width: 20px;
  height: 35px;
  outline: none;
  transition: 0.3s ease-out;
  border: unset;
}

/*icono de flecha*/
span.fa.fa-angle-up.btn-svg-up-hover.btn-top-up {
  color: #fff;
  background: #0a7cc0;
}

.scroll-to-top button .btn-svg-up-hover {
  font-size: 25px;
  line-height: 28px;
  color: white;
  margin-top: 2px;
}

.scroll-to-top button .label-button-star-up {
  margin-left: 8px;
  width: max-content;
}

.show-scrollTop {
  opacity: 1;
  transition: 0.3s ease-out;
}

.block--gov-accessibility .block-options a:hover label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 14px;
}

.btn-top-up {
  width: 31px;
  height: 31px;
  margin-left: 4px;
  border-radius: 8px;
}

/*letra de volver a arriba */
span.label-button-star-up.btn-text-top-up {
  font-size: 14px;
  color: #0a7cc0;
  display: block;
  transition: 0.2s;
  margin-bottom: 20px;
  opacity: 0;
}

.scroll-to-top:hover > button > span.label-button-star-up.btn-text-top-up {
  margin-bottom: 0rem;
  opacity: 1;
}

#s4-workspace::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}

#s4-workspace::-webkit-scrollbar-thumb {
  background: #00b300;
  border-radius: 10px;
}

@media (max-width: 600px) {
  #s4-workspace::-webkit-scrollbar {
    width: 0px;
  }
}
