<!-- Inicio header  -->
<div class="header__menu">
  <div class="header__content">
    <div class="header__logos">
      <a href="/" class="header__a"
        ><img
          class="header__img"
          src="/"
          alt="..."
      /></a>
      <a
        class="header__a"
        href="https://id.presidencia.gov.co/Paginas/presidenciaco.aspx"
        target="_blank"
        ><img
          class="header__img"
          src="/"
          alt="Presidencia de la República de Colombia"
      /></a>
    </div>
    <div class="header__text">
      <h3 class="header__h3">Alcaldía Municipal de ...., ....</h3>
      <p class="header__p">eslogan</p>
    </div>
  </div>
  <a href="/_layouts/15/Authenticate.aspx" class="header__aut">Administrar</a>
  <div class="header__search">
    <!-- Insertar script de buscador del municipio -->
  </div>
</div>
<!-- Fin header  -->