/* Inicio header */

.header__menu {
  width: 1140px;
  background-color: #fff;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__img {
  width: 60px;
}

.header__img--width {
  width: 120px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 17px;
}

.header__logos {
  display: inline-block;
}

.header__text {
  display: inline-block;
}

.header__search {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__h3 {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
}

/* fin header */

/* BUSCADOR*/

.gsc-input-box {
  background-color: transparent !important;
}

.gsc-control-cse {
  background-color: #0000 !important;
  border: none !important;
  width: 100%;
  margin: auto;
}
.gsc-input-box {
  background: #0000 !important;
  border: 1px solid #0000 !important;
  border-radius: 5px !important;
  width: 92%;
}
table.gsc-search-box td {
  padding: 0px !important;
}
input.gsc-input {
  color: #000 !important;
  background: #0000 !important;
  text-align: center;
}
.gsc-adBlock,
.gcsc-branding {
  display: none !important;
}

div#gsc-iw-id1 {
  width: 330px;
  margin-left: -88px;
  border-radius: 8px !important;
  height: 40px;
  padding: 0 16px;
  font-family: "WorkSans";
  font-size: 16px !important;
  border: 1px solid #c9c9c9 !important;
  transition: 0.4s;
  outline: none !important;
}

div#gsc-iw-id1:hover {
  border: 1px solid #008337 !important;
  box-shadow: 0 3px 5px #00833790;
}
input#gsc-i-id1 {
  margin-top: 5px !important;
  text-align: start;
}

button.gsc-search-button.gsc-search-button-v2 {
  width: 29px;
  height: 29px;
  border-radius: 50% !important;
  margin-left: -50px;
  padding: 0;
  background: #008337;
  border: solid 1px #008337;
  transition: 0.4s;
}

button.gsc-search-button.gsc-search-button-v2:hover {
  background-color: rgba(0, 131, 55, 0.671);
}

button.gsc-search-button.gsc-search-button-v2 svg {
  width: 1.1rem;
  height: 1.4rem;
}

.gsst_a .gscb_a {
  margin-left: -57px;
  margin-top: 6px;
}

/* Opcion de accesibilidad */

.header__aut {
  position: absolute;
  right: 70px;
  top: 20px;
}

@media (max-width: 800px) {
  .header__menu {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .header__img {
    width: 30px;
  }

  .header__img--width {
    width: 60px;
  }

  .header__text {
    width: 100%;
  }

  .header__search {
    width: 100%;
  }

  .header__h3 {
    font-weight: 700;
    font-size: 13px;
  }

  div#gsc-iw-id1 {
    width: 300px;
    margin-left: 0;
  }

  .header__content {
    column-gap: 17px;
  }

  .header__logos {
    display: flex;
  }

  .header__p {
    font-size: 12px;
  }

  .header__search {
    margin-top: 30px;
  }

  .header__aut {
    width: 100%;
    position: relative;
    right: 0;
    left: 0;
    top: 9px;
    display: block;
    text-align: center;
  }
}

/* Fin header */
